/*-----*/

:root {
    --bgrm-overlay: rgba(0,0,0,0.5);
}

/*-----*/

.da-backdrop[style*='0.85'] {
    background-color: rgba(0,0,0,0.65) !important;
}

.app .search-results-wrap .search-result .hit,
.da-popouts .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    box-shadow: none;
}

.app .autocomplete-1vrmpx,
.app .content-yTz4x3,
.app .embedInner-1-fpTo,
.app .guildsAdd-21_IdK,
.app .hasMore-3e72_v button,
.app .inner-zqa7da,
.app .markup-2BOw-j code,
.app .markup-2BOw-j code.inline,
.app .member-3W1lQa:hover .content-OzHfo4,
.app .member-3W1lQa.popout-open .content-OzHfo4,
.app .member-3W1lQa.popout-open:hover .content-OzHfo4,
.app .search .search-bar,
.app .search-results-wrap .search-result .hit,
.app .searchAnswer-3Dz2-q,
.app .searchFilter-2ESiM3,
.app .selectorSelected-1_M1WV,
.app .wrapper-35wsBm,
.bda-dark .emoji-picker .category,
.bda-dark .emojiPicker-3m1S-j .category-2U57w6,
.bda-dark .emojiPicker-3m1S-j,
.bda-dark #bda-qem button.active,
.bda-dark #bda-qem button:hover,
.bda-dark #bda-qem-favourite-container,
.bda-dark #bda-qem-twitch-container,
.bda-dark #bda-qem,
.channel-2QD9_O:hover a,
.channel-2QD9_O.selected-1HYmZZ a,
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u,
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW,
.channelNotices-41mJbj .channelNotice-1-XFjC.quickSwitcher-35bYg4,
.contentConnectedVoice-qL-YrL:active,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.contentSelectedVoice-1WDIBM:active,
.create-guild-container.deprecated .action,
.create-guild-container.deprecated .create-or-join .form-inner,
.da-appMount .contextMenu-HLZMGh,
.da-appMount .item-1Yvehc:hover,
.da-modal .body-3ND3kc,
.da-modal .footer-1FPmkC,
.da-modal .footer-2yfCgX,
.da-modal .input-2VB9rf,
.da-modal .keyboardShortcutsModal-3piNz7,
.da-modal .modal-3HD5ck,
.da-modal .quickswitcher-3JagVE,
.da-modal .topSectionNormal-2-vo2m,
.da-popouts .body-3iLsc4,
.da-popouts .calendarPicker-2yf6Ci .react-datepicker__day--outside-month,
.da-popouts .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,
.da-popouts .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,
.da-popouts .container-3ayLPN,
.da-popouts .focused-2bY0OD,
.da-popouts .footer-1fjuF6,
.da-popouts .footer-1kmXd4,
.da-popouts .header-ykumBX,
.da-popouts .headerNormal-T_seeN,
.da-popouts .item-1GzJrl:hover,
.da-popouts .menu-Sp6bN1,
.da-popouts .messageGroupWrapper-o-Zw7G,
.da-popouts .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug,
.da-popouts .messagesPopoutWrap-1MQ1bW,
.da-popouts .option-96V44q.selected-rZcOL-,
.da-popouts .quickMessage-1yeL4E,
.form-deprecated .form-actions,
.form-deprecated .form-inner,
.need-help-modal.form.deprecated .footer,
.search-bar .search-bar-inner,
.search-bar.search-bar-light .search-bar-inner {
    background-color: var(--bgrm-overlay);
}

.app .search-results-wrap .search-result::before,
.app .search-results-wrap .search-result::after,
.create-guild-container.deprecated .create-or-join .actions .or,
.da-popouts .option-96V44q:after {
    background: none;
}

.app .activityFeed-28jde9,
.app .applicationStore-1pNvnv,
.app .chat-3bRxxu form,
.app .chat-3bRxxu,
.app .container-2Thooq,
.app .content-yTz4x3,
.app .contentRegion-3nDuYy,
.app .guildsWrapper-5TJh6A,
.app .headerBar-UHpsPw,
.app .layer-3QrUeG,
.app .layers-3iHuyZ,
.app .markup-2BOw-j pre,
.app .members-1998pB,
.app .messagesWrapper-3lZDfY,
.app .noChannel-Z1DQK7,
.app .search-results-wrap .channel-separator .channel-name,
.app .search-results-wrap .search-header,
.app .search-results-wrap,
.app .sidebarRegion-VFTUkN,
.app .standardSidebarView-3F1I7i,
.app .title-3qD0b-,
.app .typing-2GQL18,
.app .ui-standard-sidebar-view .content-region,
.app .ui-standard-sidebar-view .sidebar-region,
.app .ui-standard-sidebar-view,
.app .wrapper-29NfPK,
.app #friends,
.app,
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.bda-dark #bda-qem button,
.channels-Ie2l6A,
.container-2lgZY8,
.container-PNkimc,
.create-guild-container.deprecated,
.da-popouts .calendarPicker-2yf6Ci .react-datepicker__header,
.da-popouts .calendarPicker-2yf6Ci .react-datepicker,
.emojiPicker-3m1S-j .stickyHeader-1SS0JU,
.form-deprecated .btn-default,
.form.deprecated .btn-default,
.gameLibrary-TTDw4Y,
.option-96V44q:after,
.search-bar,
.titleBar-AC4pGV,
.video-1FfuMD,
#app-mount,
#friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    background-color: transparent;
}