//META{"name":"Pink Floyd Transparent","description":"Pink Floyd-The Dark Side Of The Moon theme with bgrm.css","author":"JustANobody","version":"1.3.0","website":"https://justanobody2107.github.io/pink-floyd-theme-site/","source":"https://github.com/justanobody2107/pink-floyd-theme"}*//{}

@import url('https://justanobody2107.github.io/pink-floyd-theme/PinkFloydBGRM.css');
@import url('https://justanobody2107.github.io/pink-floyd-theme/rainbowchannels.css');

:root {
    --bgrm-overlay: rgba(20, 20, 20, 0.3);
}

#app-mount {
    background: url('https://i.imgur.com/7SrF82H.png') center/cover; /* Set background image */
}

.da-app {
    background: rgba(0,0,0,0.6); /* Put a layer over it so it isn't too bright */
}

.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1,
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H,
.app .membersGroup-v9BXpm,
.app #bd-settings-sidebar .ui-tab-bar-header,
.app #bd-settingspane-container .ui-switch-item .style-description,
.side-8zPYf6 .header-2RyJ0Y, .side-8zPYf6 .item-PXvHYJ,
.app .description-3_Ncsb, .app .labelDescriptor-1PqHgD {
    color: #B8B8B8;   
}

#bd-settings-sidebar div {
    color: #B8B8B8 !important;
}

.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
    color: #989898;
}
